html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Patrick Hand", cursive;
    font-style: normal;
    box-sizing: border-box;
    background-color: #f7f3f3;
}
:root{
    --maine-color:  goldenrod;
    --back-color: #f8683d;
}
/*nav bar styling start*/
a{
    text-decoration: none;
}

h1 a{
    color: beige;
}

nav{
    font-size: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: rgb(5, 38, 68);
    color: beige;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a{
    color: beige;
    padding: 2px;
    border-radius: 10%;
    transition: all 0.3s ease;
}

nav ul a:hover{
    color: var(--back-color);
}

/*nav bar styling end*/

/*tasks styling start*/
main{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-search{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-search #add-task, #notification{
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    color: var(--maine-color);
    color: black;
    transition: all 0.3s ease;
}


.cat-holder{
    display: flex;
}

.cat-holder p{
    margin-left: 10px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5%;
}

.cat-holder p:hover{
    background-color: rgb(0, 40, 128);
    color: aliceblue;
}

#add-task:hover, #notification:hover{
    color: brown;
}

.add-search .search-bar{
    grid-column: 3 / -1;
    display: flex;
}

.search-bar input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--maine-color);
    margin-right: 5px;
}

.search-bar button{
    padding: 5px;
    background: none;
    border-radius: 4%;
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: var(--maine-color);
}

.tasks-container{
    grid-column: 1 / -2;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: max-content;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 10px;
}

.display-items{
    display: grid;
    grid-template-columns: 1fr 200px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.motnth-time{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    gap: 2px;
    font-size: x-small;
    box-shadow: 0 0 6px rgb(5, 38, 68);
}

.task div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.task h2{
    width: 100%;
}

.hidden{
    display: none;
}

.task div button{
    background-color: none;
    font-size: small;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 20%;
    border-radius: 5%;
    transition: 0.2s ease;
}

.task div button:nth-child(1):hover{
    transform: scale(1.05);
    color: blue;
}
.task div button:nth-child(2):hover{
    transform: scale(1.05);
    color: red;
}

#month-year{
    border-top: 6px solid blanchedalmond;
}

.motnth-time{
    background-color: rgba(197, 73, 255, 0.651);
    border-radius: 3%;
    text-align: center;
    padding: 0;
    background-color: rgb(5, 38, 68);
    color: #f7f3f3;
}


.task h2{
    width: 200px;
    height: auto;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
}

#input-task{
    width: 30%;
    height: 35%;
    padding: 10px;
    background-color: rgb(5, 38, 68);
    border: none;
    transition: all 0.3s ease;
}
#input-task input, select{
    width: 60%;
}
#input-task form{
    position: relative;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
    width: 100%;
    background-color: rgb(5, 38, 68);
}

#input-task button{
    transition: all 0.3s ease-in-out;
}

#input-task button:hover{
    background-color: rgb(5, 38, 68);
    color: bisque;
}

#exit-btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: beige;
    transition: 0.3s ease-in-out;
}

#exit-btn:hover{
    color: red;
}
#add-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    width: 60px;
    background-color: beige;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#save-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    width: 60px;
    background-color: beige;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#cancel-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    width: 60px;
    background-color: beige;
    border: none;
    padding: 5px;
    cursor: pointer;
}
/*tasks styling end*/